* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 108px;
  }

/* VARIÁVEIS */
:root {
    --color-text: #181818;
    --color-titulo:#FD5C00;
    --color-icones: #F6C53C;
    --background-hover: #f4f4f4;
    --background-whatsApp: #34af23;
    --color-text-btn:#FFF;
    --hover-whatsApp:#3fe129;
}

/* ANIMAÇÕES COM INTERAÇÔES COM JAVASCRIPT */

.rotate {
    transform: rotate(15deg);
    transition: .3s ease-in;
}
.rotate-desativado {
    transform: rotate(0);
    transition: .3s ease-in;
}
/* CONFIGURAÇÃO PADRÃO */

body {
    width: 100%;
    background-color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
}
strong {
    color: var(--color-titulo);
    font-weight: 800;
}

div.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
section.Sobre, section.Servicos, section.Clientes, section.Agendamento, section.Localização, footer {
    margin: 8rem 0 2rem 0;
}

h1 {
    color: var(--color-text);
    font-family: 'Nunito', sans-serif;
}
.whatsApp-link {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    right: 13px;
    bottom: 40px;
    border: 1px solid transparent;
    background-color: var(--background-whatsApp);
    border-radius: 50%;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s ease-in;
}
.whatsApp-link:hover {
    background-color: var(--hover-whatsApp);
}

.whatsApp-link > i {
    font-size: 30px;
}
a {
    text-decoration: none;
}
/* HEADER */
header {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    z-index: 999;
    transition: .3s;
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
    position: fixed;
    inset: 0;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav ul {
    display: flex;
     align-items: center;
}

header nav ul a, a.logo {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-text);
    font-size: 0.9375rem;
}

header nav div.logo {
    height: 90px;
    width: 90px;
}

header nav div.logo a.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header nav ul li {
    height: 100%;
}
header nav ul a {
    margin-right: 1.5625rem;
    margin-left: 1.5625rem;
    display: inline-flex;
    align-items: center;
    height: 100%;

}
header nav ul a:hover {
    color: var(--color-titulo);   
}
header nav ul div.telefone-cards a.telefone {
    margin: 0;
    border: 0;
    padding: .7rem 1.2rem .7rem .7rem;
}

header nav ul div.telefone-cards {
    border: 2px solid var(--color-titulo);
    border-radius: 25px;
    border-top-left-radius:0%;
    height: 35px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

header nav ul div.telefone-cards .icon {
    background-color: var(--color-titulo);
    padding: 0.6rem;
}

/* MAIN */
main {
    height: 100vh;
    width: 100%;
     background-image: url('../Imagens/background-main.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
 
}

main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

main .container .banner-titulo h1{
    font-family: 'Nunito', sans-serif;
    font-size: 65px;
    color: var(--color-text);
    margin-bottom: 2rem;
    font-weight: 800;
}

  

main .banner-servico-hotel {
    display: flex;
    align-items: center;
    max-width: 440px;
    margin-bottom: 4rem;

}

main .banner-servico-hotel .banner-servicos-img {
    border-right: 1px solid #181818;
    margin-right: 1.8rem;
    padding-right: 1.8rem;
    height: 90px;
}
main .banner-servico-hotel .banner-servicos-informacao h3 {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0.6rem;
}
main .banner-servico-hotel .banner-servicos-informacao h3:hover {
    color: var(--color-titulo);
}

main .banner-img img {
    width: 100%;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
main .banner-titulo{
    padding-top: 6.25rem;
}
main .banner-img {
    height: 100%;
    display: flex;
    align-items: center;
}

/* SECTION SOBRE NÓS */
section.Sobre {
    margin-top: 0;
}
 .titulo-section {
    font-size: 2.95rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2.25rem;
}

section.Sobre .sobre-informacoes-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: flex-end;
}

section.Sobre .sobre-informacoes-cards article h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
    line-height: 56.64px;
}
section.Sobre .sobre-informacoes-cards article p {
    text-align: justify;
    line-height: 28.8px;
 
}
section.Sobre .sobre-informacoes-cards .sobre-informacoes-text p:nth-child(even) {
    margin-bottom: 2rem;
}
section.Sobre .sobre-informacoes-cards article details {
    padding: 1.3em 0.1em;
    border: 1px solid var(--background-hover);
    border-radius: 15px;
    margin-bottom: 0.3rem;
}
section.Sobre .sobre-informacoes-cards article details:hover {
    background-color: var(--background-hover);
    transition: 0.3s;
}
section.Sobre .sobre-informacoes-cards article details summary {
    display: flex;
    align-items: center;
    cursor: pointer;
}
section.Sobre .sobre-informacoes-cards article details summary p {
    font-weight: 800;
    font-size: 0.9rem;
}
section.Sobre .sobre-informacoes-cards article details .texto-explicacao {
    padding-left: 72px;
    padding-right: 50px;

}

section.Sobre .sobre-informacoes-cards article details summary i {
    font-size: 35px;
    background-color: var(--color-titulo);
    border-radius: 50%;
    margin: 0 21px 0 16px;

}

.sobre-informacoes-video {
    grid-column: 1/3;
    position: relative;
    padding-bottom: 36.5%;
    width: 66%;
    margin: 0 auto;

}

.sobre-informacoes-video > video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    object-fit: cover;
}
/* SECTION SERVIÇOS */
section.Servicos article.servicos-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 30px;
}


section.Servicos .servico-card {
    background-color: #f2f2f4;
    border-radius: 30px;
    padding: 2.5em 2.8em 2.2em 2.8em;
}
section.Servicos .servico-card .servico-icon{
    margin-bottom: 3rem;
}
section.Servicos .servico-card .servico-icon img {
    width: 72px;
    height: 72px;
}
section.Servicos .servico-card h3 {
    font-weight: 800;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'Nunito', sans-serif;
}
section.Servicos .servico-card p {
    margin-bottom: 1.6rem;
    line-height: 1.6rem;
}

/* SECTION CLIENTES  */

section.Clientes article.clientes-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(525px, 1fr));
    gap: 30px;
}

section.Clientes article.clientes-area article.cliente-depoimento {
    background-color: #f2f2f4;
    padding: 1.875rem;
    border-radius: 6px;
    margin-bottom: 0.9375rem;
    position: relative;
}


section.Clientes article.clientes-area article.cliente-depoimento p {
    font-weight: 700;
}
section.Clientes article.clientes-area article.cliente-depoimento i {
    position: absolute;
    top: -21px;
    left: -10px;
    font-size: 2.25rem;
}
section.Clientes article.clientes-area  h5 {
    font-size: 1.6rem;
}


section.Clientes article.clientes-area .cliente-foto {
    display: flex;
    align-items: center;
}

section.Clientes article.clientes-area .cliente-foto img {
    border-radius: 50%;
    margin: 0 1.25rem;
}

/* SECTION AGENDAMENTO  */
section.Agendamento {
    background: url('../Imagens/backgroung-laranja2.png') no-repeat left;
    background-size: contain;
}

section.Agendamento .Agendamento-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

section.Agendamento .Agendamento-area .Agendamento-informacao h1 {
    font-size: 2.95rem;
    font-weight: 800;
}
section.Agendamento .Agendamento-area .Agendamento-informacao p {
    font-size: 1.15rem;
    margin-top: 0.9rem;
    margin-bottom: 2rem;
    line-height: 1.7;
}

section.Agendamento .Agendamento-area .Agendamento-informacao a {
    display: inline-block;
    color: var(--color-text-btn);
    background-color: var(--color-titulo);
    padding:.7rem 1.2rem .7rem .7rem ;
    text-decoration: none;
    border-radius: 50px;
    border-top-left-radius: 0%;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    border: 2px solid var(--color-titulo);
    font-family: 'Nunito', sans-serif;
}
section.Agendamento .Agendamento-area .Agendamento-informacao a:hover {
    color: var(--color-titulo);
}

/* SECTION LOCALIZAÇÃO  */

.Localização-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}
.Localização-maps {
    position: relative;
 
}
.Localização-maps > img {
    position: absolute;
    top: 41%;
    left: 47.3%;
    width: 39px;
}

.Localização-maps > iframe {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.Localização-area .Localização-text {
    background-color: rgba(242, 243, 245, 1);
    border-radius: 50px;
    max-width: 400px;
}

.Localização-area .Localização-text img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.Localização-text-address, .Localização-text-telefone, .Localização-text-email {
    padding: 0 30px;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
}
.Localização-text-address {
    margin-top: 2rem;
 
}

.Localização-area .Localização-text h2 {
    font-size: 1.35rem;
    margin-bottom: 0.6rem;
}

.Localização-text-titulo > i {
    font-size: 40px;
}

.Localização-text-titulo {
     margin-right: 1rem; 
}

/* FOOTER */
footer {
    margin-bottom: 3.5rem;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}
footer .logo-footer {
    margin-bottom: 2rem;
    width: 90px;
    height: 90px;
}
footer .logo-footer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .footer-midias-sociais {
    display: flex;
    align-items: center;
}
footer .footer-midias-sociais a.midia-link {
    background-color: var(--color-titulo);
    margin-right: .5rem;
    text-decoration: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--color-titulo);
}
footer .footer-midias-sociais a.midia-link > i {
    font-size: 25px;
    color: #FFF;
 
}
footer .footer-midias-sociais a.midia-link > i:hover {
    color: var(--color-titulo);
}
footer h3 {
    margin-bottom: 1rem;
    color: var(--color-titulo);
    font-size: 1.4375rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}
footer .footer-flex {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

footer div.footer-flex p {
    margin-left: 0.7rem;
    font-size: .85em;
    font-weight: 600;
}

footer article.footer-text p, a.serviço {
    font-size: .85em;
    font-weight: 600;
    margin-bottom: 0.75rem;
    cursor: pointer;
    color: #000;
    display: block;
}
footer article.footer-text p:hover, footer a:hover {
    color: #747474;
    transition: .3s;
}
